@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Access Denied</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="fluid-container flex-grow-1">
        <div class="misc-wrapper">
            <p class="mb-4 mx-2">If you want to use this feature, please request permission from the administrator.</p>
            <div class="mt-4">
                <img src="~/assets/img/illustrations/NoPermission.svg" alt="no-permission-illustration" width="300" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bx bx-x-circle me-1"></i>Close</button>
</div> 