<div class="loader-content tableWrapper">
    <table class="table">
        <tbody>
            <tr>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
            </tr>
            <tr>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
            </tr>
            <tr>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
                <td class="loading">
                    <div class="bar"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
