
<div class="fluid-container flex-grow-1">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Access Denied</h2>
        <p class="mb-4 mx-2">You don't have permission to access this resource. Please contact your administrator if you believe you should have access to this feature.</p>
        <div class="mt-3 mb-4">
            <a asp-action="index" asp-controller="Home" class="btn btn-primary me-2">
                <i class="bx bx-home me-1"></i>Return to Dashboard
            </a>
            <button type="button" class="btn btn-outline-secondary" onclick="history.back()">
                <i class="bx bx-arrow-back me-1"></i>Go Back
            </button>
        </div>
        <div class="mt-4">
            <img src="~/assets/img/illustrations/girl-doing-yoga-light.png" alt="access-denied-illustration" width="500" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png">
        </div>
    </div>
</div>
