@model UpdatePermissionDTO

<form asp-action="EditPermission" asp-controller="Identity" method="post" autocomplete="off" data-ajax="true"
      data-ajax-method="POST" data-ajax-complete="Success">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="PermissionId" />
        <div class="mb-3">
            <div class="mb-2">
                <label class="form-label" asp-for="PermissionCode"></label>
                <input asp-for="PermissionCode" type="text" class="form-control" required placeholder="Permission Code" />
                <span asp-validation-for="PermissionCode" class="text-danger"></span>

            </div>
            <div class="mb-2">
                <label class="form-label" asp-for="PermissionName"></label>
                <input asp-for="PermissionName" type="text" class="form-control" required placeholder="Permission Name" />
                <span asp-validation-for="PermissionName" class="text-danger"></span>

            </div>
            
            <div class="mb-2">
                <label class="form-label" asp-for="Description"></label>
                <input asp-for="Description" type="text" class="form-control" required placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>
            <div class="mb-2">
                <label class="form-label" asp-for="Module"></label>
                <input asp-for="Module" type="text" class="form-control" required placeholder="Module" />
                <span asp-validation-for="Module" class="text-danger"></span>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bx bx-x-circle me-1"></i>Close</button>
        <button type="submit" class="btn btn-primary"><i class="bx bx-save me-1"></i>Save Change</button>
    </div>
</form>