@model UpdateRoleDTO

<form asp-action="EditRole" asp-controller="Identity" method="post" autocomplete="off" data-ajax="true"
      data-ajax-method="POST" data-ajax-complete="Success">
    <input type="hidden" asp-for="RoleId" />
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <div class="mb-2">
                <label class="form-label" asp-for="RoleName"></label>
                <input asp-for="RoleName" type="text" class="form-control" required />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label class="form-label" asp-for="Description"></label>
                <input asp-for="Description" class="form-control" required placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bx bx-x-circle me-1"></i>Close</button>
        <button type="submit" class="btn btn-primary"><i class="bx bx-save me-1"></i>Update</button>
    </div>
</form> 