@model ViewModelUserRole
@{
    ViewData["Title"] = "Users";
}
@section TopBar {
    <!-- Search -->
    <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center justify-content-center">
            <form id="formSearch" asp-action="ListUser" asp-controller="Identity" class="d-flex w-100">
                <button type="submit" id="searchButton" style="background:none; border:none">
                    <i class="bx bx-search fs-4 lh-0"></i>
                </button>
                <input type="text" asp-for="@Model.SearchText" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..." />
            </form>
        </div>
    </div>
    <!-- /Search -->
}

<div class="fluid-container flex-grow-1">   
    <div id="rolesList">
        @{
            await Html.RenderPartialAsync("_ListRoles", Model.Roles);
        }
    </div>
    <div class="pt-3">
        <h4 class="lh-1">Total users with their roles</h4>
        <p>Find all of your company’s administrator accounts and their associate roles</p>
    </div>
    <div class="card">
        <div class="card-header p-3 bg-white">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <div class="d-flex h-100 justify-content-between align-items-center">
                        <div class="me-3">
                            <select asp-for="@Model.PageSize" data-page-size class="form-select">
                                <option selected value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <a type="button" class="btn btn-primary btn-icon-only" asp-action="AddUser" asp-controller="Identity" modal-popup="" modal-size="xl"><i class="bx bx-plus"></i><span class="ms-1 d-none d-md-block">Add User</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive text-nowrap p-3 pt-2">
            <partial name="_loading" />
            <div id="listData">
                @{
                    await Html.RenderPartialAsync("_ListUser", Model.Users);
                }
            </div>
        </div>
    </div>
</div>

