
<div class="fluid-container flex-grow-1">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">សូមអភ័យទោសគណនេយ្យអ្នកបានផុតកំណត់</h2>
        <p class="mb-4 mx-2">ប្រសិនបើអ្នកចង់ប្រើមុខងារនេះ សូមស្នើសុំការអនុញ្ញាតពីអ្នកគ្រប់គ្រង</p>
        <a asp-action="index" asp-controller="Home" class="btn btn-primary">ត្រលប់ទៅទំព័រដើម</a>
        <div class="mt-4">
            <img src="../assets/img/illustrations/girl-doing-yoga-light.png" alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png">
        </div>
    </div>
</div>
